<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    <section name="movement" type="System.Configuration.NameValueSectionHandler"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Athyl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
    <movement>
      <add key="Up" value="W" />
      <add key="Left" value="A" />
      <add key="Down" value="S" />
      <add key="Right" value="D" />
      <add key="Shoot" value="J" />
      <add key="Jump" value="K" />
      <add key="Crouch" value="LeftControl" />
      <add key="Close" value="D1" />
      <add key="Middle" value="D2" />
      <add key="Long" value="D3" />
      <add key="Use" value="E" />
    </movement>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="logfile" xsi:type="File" fileName="log.txt" deleteOldFileOnStartup="false"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="logfile" />
    </rules>
  </nlog>
  <userSettings>
    <Athyl.Properties.Settings>
      <setting name="Up" serializeAs="String">
        <value>W</value>
      </setting>
      <setting name="Left" serializeAs="String">
        <value>A</value>
      </setting>
      <setting name="Down" serializeAs="String">
        <value>S</value>
      </setting>
      <setting name="Right" serializeAs="String">
        <value>D</value>
      </setting>
      <setting name="Shoot" serializeAs="String">
        <value>J</value>
      </setting>
      <setting name="Jump" serializeAs="String">
        <value>K</value>
      </setting>
      <setting name="Crouch" serializeAs="String">
        <value>LeftControl</value>
      </setting>
      <setting name="Close" serializeAs="String">
        <value>D1</value>
      </setting>
      <setting name="Middle" serializeAs="String">
        <value>D2</value>
      </setting>
      <setting name="Long" serializeAs="String">
        <value>D3</value>
      </setting>
      <setting name="Use" serializeAs="String">
        <value>E</value>
      </setting>
    </Athyl.Properties.Settings>
   
  </userSettings>
</configuration>