<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="logfile" xsi:type="File" fileName="log.txt" deleteOldFileOnStartup="true"/>
      <target  xsi:type="Mail" name="gmail"
              addNewLines="true"
               smtpServer="smtp.gmail.com"
              smtpPort="587"
              smtpAuthentication="Basic"
              smtpUserName="skic.skicsson@gmail.com"
              smtpPassword="skic123!"
              enableSsl="true"
              from="skic.skicsson@gmail.com"
              to="skic.skicsson@gmail.com"
              subject="Error message"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="gmail" />
    </rules>
  </nlog>
</configuration>