<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    <section name="movement" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
    <movement>
      <add key="Up" value="W" />
      <add key="Left" value="A" />
      <add key="Down" value="S" />
      <add key="Right" value="D" />
      <add key="Shoot" value="J" />
      <add key="Jump" value="K" />
      <add key="Crouch" value="LeftControl" />
      <add key="Close" value="D1" />
      <add key="Middle" value="D2" />
      <add key="Long" value="D3" />
      <add key="Use" value="E" />
    </movement>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="logfile" xsi:type="File" fileName="log.txt" deleteOldFileOnStartup="false"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="logfile" />
    </rules>
  </nlog>
</configuration>